* {
    font-family: 'signika negative';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: purple;
    height: 80px;
}

.navbar h1 {
    padding: 20px;
    padding-left: 20px;
    color: white;
}

.navbar+a {
    text-decoration: none;
    color: white;
}

/* all menu btn properties is here */
nav ul {

    display: flex;
    list-style: none;
    position: absolute;
    right: -5vw;
}

#buttons {
    position: absolute;
    right: 100px;
    top: 28px;
}

nav ul li {
    margin: 0 2px;
    /* margin: 0 0px; */
}

nav ul li a {
    /* font-size: 20px; */
    font-size: 18px;
    font-weight: 500;
    /* color: #fff; */
    color: greenyellow;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 8px 10px;
    transition: all 0.4s ease;
}

nav ul li a:hover {
    color: #1b1b1b;
    background-color: white;
}

nav ul li #active {
    color: #1b1b1b;
    background-color: white;
}

nav ul li #active:active,
nav ul li a:active {
    background-color: rgb(233, 127, 127);
}

nav .menu-btn {
    color: #f2f2f2;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.fa-bars:before,
.fa-navicon:before {
    content: "\f0c9";
    margin-right: -2rem;
    color: white;
}
/* indicate projects  */
.indicator{
    color : white;
    color: white;
    font-size: 1.5rem;
    position: relative;
    left: 2rem;
    top: -0.35rem;
    display: none;
}

.menu-btn i {
    position: fixed;
    right: 3rem;
    top: 1.7rem;
    color: black;
}



@media (max-width:1682px) {
    .navbar h1 {
        font-size: 30px;
        padding-left: 5px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 8px 8px;
    }

    nav ul {
        right: -6vw;
    }
}

@media (max-width:1482px) {
    .navbar h1 {
        padding-left: 5px;
        font-size: 25px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 8px 6px;
    }

    nav ul {
        right: -7vw;
    }


}

@media (max-width:1340px) {

    nav ul li a {
        font-size: 13px;
        padding: 8px 5px;
    }
}


@media (min-width : 1000px) {
    #click {
        display: none;
    }
}




/* modal for  */
/* desing the popup of login panel */


@media (max-width:1216px) {
    nav ul {
        right: 0vw;
    }

    .navbar h1 {
        padding: 20px;
        padding-left: 12px;
        color: white;
    }

    nav .menu-btn {
        display: block;
    }

    #click:checked~.menu-btn i::before {
        content: "\f00d";
        font-size: 20px;
    }
    .indicator{
        display: block;
    }
    #click {
        visibility: hidden;
        position: absolute;

    }

    nav ul li a {
        color: white;
    }

    nav ul {


        position: fixed;
        /* top: 0px; */
        /* left: -50%; 
     right: 50%; */
        top: 33.1rem;

        height: 100vh;

        z-index: 1;

        transform: translate(-50%, -50%) scale(1);
        text-align: center;
        visibility: hidden;
        left: -100%;

        margin: auto;
        /* height: 200px; */
        background-color: black;

        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s ease;
    }

    #click:checked~ul {
        z-index: 1;
        left: 0%;
        visibility: visible;
        height: 100vh;
        top: 33.1rem;
        transform: translate(-0%, -50%) scale(1);
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        font-size: 18px;
        color: white;
        padding: 12px;
    }

    nav ul li a:hover {
        color: #1b1b1b;
        background-color: white;
    }

    nav ul li #active {
        color: #1b1b1b;
        background: none;
        color: greenyellow;
    }


}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.information h1 {
    margin-top: 10px;
    font-size: 40px;
    color: black;
}

.information .img {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img img {
    border: 2px solid red;
    border-radius: 100%;
    opacity: 0.8;
    height: 600px;
}

.name h2 {
    font-size: 2rem;
    margin-top: 10px;
}

@media (max-width :699px) {
    .img img {
        height: 300px;
    }

    .name h2 {
        font-size: 1.3rem;
    }

    .information h1 {
        margin-top: 10px;
        font-size: 20px;
        color: black;
    }
}

/* button for night mode color : pink */
.darkBtn {
    visibility: hidden;

}

.darkBtn button {
    background-color: pink;
    border-radius: 100%;
}

@media (max-width: 425px) {
    .darkBtn {
        visibility: visible;
        position: absolute;
        top: 29px;
        right: 23vw;
        display: none;
    }

    .darkBtn img {
        height: 20px;
    }

    .darkBtn button {
        border: none;
        background-color: pink;
        border-radius: 100%;
        padding: 0px 4px 0px 5px;
    }

}

.dark {
    background-color: pink;
}

/* footer */
footer {
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    height: 4rem;
    background-color: #1e272e;
}

footer p {
    line-height: 3.5rem;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: red;
}